.main-header{
    color: white;
    background-color:#3B5998;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.newsFeed{
    text-align: center;
}
.newsFeed nav{
    background-color: #2D2E2F;
    line-height: 40px;
    font-size:20px;
}
nav a{
    text-decoration: none;
    margin-right:20px;
    color: white;
    padding: 5px;
}
nav a:hover{
    background-color: #18191A;
    text-decoration: none;
}
